/* heaeder css */
.header { position: fixed; top: 0; left: 0; z-index: 10; width: 100%; transition: transform .3s; color: rgb(29,29,31); backdrop-filter: saturate(180%) blur(20px); background-color: rgba(255,255,255,0.72); /* border-bottom: 1px solid rgba(0,0,0,0.16); */ } 
.header.hide { transform: translateY(-100%); } 
.header .inner { padding: 0 100px; } 
.header .group-flex { display: flex; align-items: center; height: 55px; justify-content: space-between; } 
.header .group-flex .left-area { display: flex; } 
.header .group-flex .logo-wrap { display: flex; justify-content: center; align-items: center; width: 150px; height: 55px; cursor: pointer; } 
.header .logo-wrap a { display: inline-block; } 
.header .logo-wrap a:hover { opacity: 0.7; } 
.header .group-flex .gnb-wrap { display: inline-block; margin: 0 -25px; vertical-align: middle; } 
.header .group-flex .gnb-wrap .nav-item { display: inline-block; padding: 0 25px; margin: 0; font-size: 20px; vertical-align: bottom; letter-spacing: .02em; font-weight: 400; cursor: pointer; } 
.header .group-flex .gnb-wrap a:hover { opacity: 0.7; } 
.header .group-flex .basket-area { position: relative; display: inline-block; vertical-align: middle; padding: 0 0 0 60px; cursor: pointer; } 
.header .basket-area .basket-wrap:hover { opacity: .7; } 
.header .basket-area .tap-wrap { position: absolute; left: 60px; margin: 20px 0 0; min-width: 250px; padding: 30px 25px; z-index: 2; background: #fff; box-shadow: 0 2px 8px rgb(53 49 72 / 9%); border-radius: 12px; opacity: 0; visibility: hidden; transition: .3s; } 
.header .basket-area .tap-wrap.on { opacity: 1; visibility: visible; } 
.header .basket-area .tap-wrap p { color: #6e6e73; padding-bottom: 25px; margin: 0; text-align: center; letter-spacing: -0.016em; } 
.header .basket-area .tap-wrap ul { margin: -15px 0; } 
.header .basket-area .tap-wrap ul li { border-top: 1px solid #d2d2d7; } 
.header .basket-area .tap-wrap ul li a { position: relative; display: block; width: 100%; padding: 15px 0; white-space: nowrap; } 
.header .basket-area .tap-wrap ul li a:hover { opacity: 0.7; } 
.header .group-flex .search-area { margin-left: auto; } 
.header .search-area button { display: flex; justify-content: center; align-items: center; width: 149px; height: 55px; cursor: pointer; } 
.header .search-area button:hover { opacity: .7; } 
.header .search-area .tit { font-size: 16px; letter-spacing: .02em; } 

/* .footer css */
.footer .wrap { padding: 120px 0 100px; } 
.footer .wrap .inner { position: relative; padding: 0 100px; max-width: 1440px; margin: 0 auto; } 
.footer .group-top { display: flex; justify-content: space-between; } 
.footer .group-top .tit-wrap { font-size: 21px; font-weight: 600; color: #000; line-height: 1.2; cursor: pointer; padding-bottom: 20px; } 
.footer .nav-wrap { display: flex; align-items: center; } 
.footer .nav-wrap .logo { display: inline-block; width: 14px; height: 18px; background-image: url(../images/logo/apple-grey.svg); background-repeat: no-repeat; background-size: 100%; margin-right: 10px; } 
.footer .nav-wrap .logo:hover { background-image: url(../images/logo/apple-black.svg); } 
.footer .nav-wrap .item-list { list-style: none; display: flex; } 
.footer .item-list li { margin-right: 7px; padding: 3px 4px 3px 0; } 
.footer .item-list a:hover { text-decoration: underline; } 
.footer .item-list .name { font-size: 14px; color: #424245; line-height: 16px; } 
.footer .item-list .name::before { content: ""; width: 18px; height: 18px; display: inline-block; background-image: url(../images/icon/arrow-right-grey.svg); background-repeat: no-repeat; background-size: 100%; margin-right: 10px; vertical-align: middle; } 
.footer .group-top .fnb-area { display: flex; } 
.footer .fnb-area .menu-list { padding: 0 50px; } 
.footer .fnb-area .menu-list:last-child { padding: 0 0 0 50px; } 
.footer .menu-list .tit { font-size: 14px; line-height: 1.3; font-weight: 400; letter-spacing: normal; font-weight: 600; margin-bottom: 10px; } 
.footer .menu-list li { margin-bottom: 10px; } 
.footer .menu-list li a { color: #424245; font-size: 14px; line-height: 16px; font-weight: 400; } 
.footer .menu-list li a:hover { text-decoration: underline; } 
.footer .group-bottom { margin-top: 70px; padding-top: 20px; border-top: 2px solid rgba(11,30,91,.12); } 
.footer .group-bottom p, .footer .group-bottom li { margin-bottom: 10px; font-size: 14px; text-align: left; color: #6e6e73; font-weight: 400; word-break: keep-all; } 
.footer .group-bottom a { color: #1d1d1f; } 
.footer .group-bottom a:hover { text-decoration: underline; } 
.footer .group-bottom ol { padding: 0 17px; } 